{
  "extends": "plugin:ava/recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "plugins": [
    "ava",
    "babel"
  ],
  "rules": {
    "ava/no-skip-test": 0
  }
}
